
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jupyter-settings.xml
.idea/misc.xml
.idea/MMMGCL.iml
.idea/modules.xml
.idea/vcs.xml
